
.test {

    display: flex;
    align-items: center;
    justify-content: center;
}

test1 {

display: flex;
align-items: center;
justify-content: center;

}

test3 {

display: flex;
align-items: center;
justify-content: center;

}